# INMERSIÓN DE DATOS CON PYTHON

#**PROBLEMA DE NEGOCIO**


---

La importancia de reducir el riesgo crediticio ha llevado a una institución financiera alemana a buscar soluciones innovadoras. Como científicos de datos, hemos sido convocados para construir un modelo de machine learning preciso y confiable que sea capaz de evaluar con mayor precisión la probabilidad de incumplimiento crediticio de sus clientes.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [3]:
pd.set_option('display.max_columns', None)
global df_banco, resultados

In [4]:
df_banco = pd.read_csv('german_credit.csv')
df_banco.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,other_debtors,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,guarantor,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,none,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [6]:
df_banco.shape #Me va a mostrar la cantidad de filas y columnas.

(1000, 21)

In [7]:
df_banco.columns

Index(['default', 'account_check_status', 'duration_in_month',
       'credit_history', 'purpose', 'credit_amount', 'savings',
       'present_emp_since', 'installment_as_income_perc',
       'personal_status_sex', 'other_debtors', 'present_res_since', 'property',
       'age', 'other_installment_plans', 'housing', 'credits_this_bank', 'job',
       'people_under_maintenance', 'telephone', 'foreign_worker'],
      dtype='object')

In [9]:
df_banco.info() #Quiero saber que tipo de datos tengo por columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   default                     1000 non-null   int64
 1   account_check_status        1000 non-null   object
 2   duration_in_month           1000 non-null   int64
 3   credit_history              1000 non-null   object
 4   purpose                     1000 non-null   object
 5   credit_amount               1000 non-null   int64
 6   savings                     1000 non-null   object
 7   present_emp_since           1000 non-null   object
 8   installment_as_income_perc  1000 non-null   int64
 9   personal_status_sex         1000 non-null   object
 10  other_debtors               1000 non-null   object
 11  present_res_since           1000 non-null   int64
 12  property                    1000 non-null   object
 13  age                         1000 non-null   int64
 14  other_installment_plans     1000 non-null   object
 15  housing                     1000 non-null   object
 16  credits_this_bank           1000 non-null   int64
 17  job                         1000 non-null   object
 18  people_under_maintenance    1000 non-null   int64
 19  telephone                   1000 non-null   object
 20  foreign_worker              1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [19]:
print(df_banco.account_check_status.value_counts())
print("----------------------------------------------------------")
print(df_banco.account_check_status.value_counts().index)

account_check_status
no checking account                                   394
< 0 DM                                                274
0 <= ... < 200 DM                                     269
>= 200 DM / salary assignments for at least 1 year     63
Name: count, dtype: int64
----------------------------------------------------------
Index(['no checking account', '< 0 DM', '0 <= ... < 200 DM',
       '>= 200 DM / salary assignments for at least 1 year'],
      dtype='object', name='account_check_status')

In [11]:
columnas = list(df_banco.select_dtypes(include=['object']).columns)
columnas

['account_check_status',
 'credit_history',
 'purpose',
 'savings',
 'present_emp_since',
 'personal_status_sex',
 'other_debtors',
 'property',
 'other_installment_plans',
 'housing',
 'job',
 'telephone',
 'foreign_worker']

In [25]:
for columna in columnas:
    print(f'El nombre de la columna es: {columna}')
    print(list(df_banco[f'{columna}'].value_counts().index))
    print('\n')

El nombre de la columna es: account_check_status
['no checking account', '< 0 DM', '0 <= ... < 200 DM', '>= 200 DM / salary assignments for at least 1 year']


El nombre de la columna es: credit_history
['existing credits paid back duly till now', 'critical account/ other credits existing (not at this bank)', 'delay in paying off in the past', 'all credits at this bank paid back duly', 'no credits taken/ all credits paid back duly']


El nombre de la columna es: purpose
['domestic appliances', 'car (new)', 'radio/television', 'car (used)', 'business', '(vacation - does not exist?)', 'education', 'repairs', 'furniture/equipment', 'retraining']


El nombre de la columna es: savings
['... < 100 DM', 'unknown/ no savings account', '100 <= ... < 500 DM', '500 <= ... < 1000 DM ', '.. >= 1000 DM ']


El nombre de la columna es: present_emp_since
['1 <= ... < 4 years', '.. >= 7 years', '4 <= ... < 7 years', '... < 1 year ', 'unemployed']


El nombre de la columna es: personal_status_sex
['male : single', 'female : divorced/separated/married', 'male : married/widowed', 'male : divorced/separated']


El nombre de la columna es: other_debtors
['none', 'guarantor', 'co-applicant']


El nombre de la columna es: property
['if not A121/A122 : car or other, not in attribute 6', 'real estate', 'if not A121 : building society savings agreement/ life insurance', 'unknown / no property']


El nombre de la columna es: other_installment_plans
['none', 'bank', 'stores']


El nombre de la columna es: housing
['own', 'rent', 'for free']


El nombre de la columna es: job
['skilled employee / official', 'unskilled - resident', 'management/ self-employed/ highly qualified employee/ officer', 'unemployed/ unskilled - non-resident']


El nombre de la columna es: telephone
['none', 'yes, registered under the customers name ']


El nombre de la columna es: foreign_worker
['yes', 'no']

In [26]:
dic = {'yes': 1, 'no': 0}
df_banco['foreign_worker'] = df_banco['foreign_worker'].map(dic)
df_banco['foreign_worker']

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: foreign_worker, Length: 1000, dtype: int64